

@font-face {
    font-family: 'gilroy';
    src: url(../font/Gilroy-ExtraBold.woff) format('woff')
}



@font-face {
    font-family: 'AOM';
    src: url(../font/AOMono-Regular.woff) format('woff')
}


h1,
h2,
span,
p {
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-text.png) 0 0, text
}

a {
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png) 0 0, text
}

body {
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-default.png) 0 0, auto;
    margin: 0;
    padding: 0;
    overflow: auto;
    background: black;
    font-family: "gilroy"
}

.introduction h2 {
    font-family: "aom";
    font-size: 4vmin;
    margin: 0 40vmin;
    text-align: start;
    word-spacing: -9px
}

::selection {
    background-color: #c2b84b
}

.back_to_top {
    width: 3em;
    height: 3em;
    text-align: center;
    background: whiteSmoke;
    font-weight: 700;
    color: #444;
    text-decoration: none;
    position: fixed;
    top: 92%;
    right: 2%;
    display: none;
    background: url(https://baptiste-bussiere.b-cdn.net/public/img/arrow-up-short.svg)no-repeat 0 0;
    z-index: 999999;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png) 0 0, auto
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #000;
    color: #fff
}


.header {
    height: 100vh;
    width: auto;
    background-image: url(https://baptiste-bussiere.b-cdn.net/public/img/background/background_1.svg);
    background-size: cover;
    z-index: 2;
}

.header_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #333;
    background-size: cover;
    margin: auto;
    width: 90vw;
    height: 90vh;
    margin-top: 50vh;
    transform: translateY(-50%);
    box-shadow: 0 0 36px 10px rgba(0, 0, 0, .43)
}

.header_background_title {
    position: relative
}

.header_background_title h1 {
    display: block;
    text-align: center;
    font-size: 10vw;
    font-family: "gilroy";
    margin: 0;
    color: #1F1F1F;
    margin-top: 45vh;
    transform: translateY(-50%);
    color: #F7E620;
    opacity: 1
}

.button_work {
    width: 9vmin;
    height: 9vmin;
    border-radius: 100px;
    background: #ff808b;
    position: fixed;
    z-index: 12;
    transition: 100ms cubic-bezier(.52, 0, .31, 1.01);
    margin: 1em;
    text-align: center;
    line-height: 9vmin;
    text-decoration: none;
    color: aliceblue;
    font-size: 2vmin;
    overflow: hidden;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png) 0 0, auto
}

.button_work:hover {
    width: 20vmin;
    font-size: 2vmin;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png), 0 0, auto
}

.button_work_no-hover {
    display: inherit;
    text-align: center;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png), 0 0, auto
}

.button_work_hover {
    display: none;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png), 0 0, auto
}

.button_work:hover span.button_work_no-hover {
    display: none;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png), 0 0, auto
}

.button_work:hover span.button_work_hover {
    display: inherit;
}

.introduction {
    max-height: 100vh;
    overflow-y: scroll
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    text-align: center;
    overflow-x: hidden
}

.hero_content {
    display: flex;
    position: relative;
    width: 100vw;
    max-height: 100vh;
    overflow: hidden
}

.hero_content::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9))
}

.hero_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    -o-object-fit: cover;
    object-fit: cover
}

.hero_content {
    display: none;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

.hero_headline {
    --padding: 1.7vmin;
    --duration: 400ms;
    --delay: calc(var(--duration) / 2);
    --ease: cubic-bezier(.25, 1, .5, 1);
    position: relative;
    display: inline-block;
    font-size: 10vmin;
    overflow: hidden;
    color: #F1F1F1;
    background-color: #000;
    padding: 10px;
    margin-top: calc(var(1.7vmin) * -1);
    padding: var(1.7vmin);
    font-family: "gilroy"
}

.hero_headline span {
    display: block;
    transform: translateY(110%);
    transition: transform var(--duration) var(--ease)
}

.active .hero_headline::after {
    transform: scaleX(1);
    transition-delay: 0s
}

.active .hero_headline span {
    transform: translateY(0);
    transition-delay: var(--delay)
}

.pin_container {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    -webkit-perspective: 1000;
    perspective: 1000
}

.slide_container {
    width: 400vw;
    height: 100vh;
    overflow: hidden
}

.slide {
    overflow-x: hidden
}

.slide1,
.slide2,
.slide3,
.slide4 {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0
}

.slide1 {
    background: url(https://baptiste-bussiere.b-cdn.net/public/img/background/slide_1.svg);
    background-repeat: no-repeat;
    background-size: contain
}

.slide2 {
    background: url(https://baptiste-bussiere.b-cdn.net/public/img/background/slide_2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 25%
}

.slide3 {
    background: url(https://baptiste-bussiere.b-cdn.net/public/img/background/slide_3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%
}

.slide4 {
    background: url(https://baptiste-bussiere.b-cdn.net/public/img/background/slide_4.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 75%
}

.slide_container h1 {
    font-size: 10vw;
    font-family: "gilroy";
    color: #F7E620;
    background-color: #000;
    margin-top: 50vh;
    transform: translateY(-50%)
}

.gallery img {
    width: 100%;
    height: auto;
    background: #f0f0f0
}

ul {
    padding-left: 1rem;
    list-style: none
}

li {
    flex-shrink: 0;
    width: clamp(500px, 60vw, 800px);
    padding-right: 1rem
}

.gallery_wrapper {
    overflow-x: hidden;
}

.gallery {
    display: flex;
}

.gallery img {
    filter: grayscale(100%);
    transition: 1000ms cubic-bezier(.52, 0, .31, 1.01)
}

.gallery img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}

.gallery_pic:not(.last) {
    padding-bottom: 1rem
}

.gallery_text .text {
    font-size: clamp(8rem, 15vw, 16rem);
    line-height: 1;
    font-weight: 900;
    color: #F7E620;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-text.png), 0 0, text;
    display: inline-block
}

footer {
    background-color: #444;
    height: 100vh;
    position: relative;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-default.png), 0 0, auto
}

.contact-form {
    margin-top: 30px
}

.contact-form .input-block {
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    height: 60px;
    padding: 25px;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.contact-form .input-block.focus {
    background-color: #fff;
    border: solid 1px #9D3553
}

.contact-form .input-block.textarea {
    height: auto
}

.contact-form .input-block.textarea .form-control {
    height: auto;
    resize: none
}

.contact-form .input-block label {
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 300;
    z-index: 1;
    color: #333;
    font-size: 18px;
    line-height: 10px
}

.contact-form .input-block .form-control {
    background-color: transparent;
    padding: 0;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #333
}

.contact-form .input-block .form-control:focus label {
    top: 0
}

.contact-form .square-button {
    background-color: #fff;
    color: #F7E620;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    border: none;
    width: 100%
}

.contact-form .square-button:hover,
.contact-form .square-button:focus {
    background-color: #F7E620;
    color: #fff;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png) 0 0, pointer
}

.contact-title {
    text-align: center;
    padding: 4vh;
    font-size: 5em;
    color: #F1F1F1
}

.contact-wrap {
    padding: 15px
}

.subtiles {
    text-align: center;
    color: #F1F1F1;
    margin: 6em auto
}

.bottom_footer {
    text-align: center;
    background-color: #F7E620;
    width: 100%;
    height: 10vh;
    bottom: 0;
    position: absolute
}

.bottom_footer span {
    line-height: 11vmin;
    color: #000
}

.work {
    width: 100%;
    height: 100vh;
    background: #262626;
    display: flex
}

.work_content {
    height: 100vh;
    width: 100%;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center
}

.work_box {
    height: 80vh;
    width: 18VW;
    align-items: center;
    margin: 4px;
    font-size: 5em;
    color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #444;
    transition: 100ms cubic-bezier(.52, 0, .31, 1.01);
    background-color: #F7E620;
}

.work a {
    text-decoration: none
}

.work h1 {
    padding: 3vh;
    color: aliceblue;
    writing-mode: vertical-rl;
    font-size: 20vmin;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-vertical-text.png) 0 0, auto
}

.work_box:hover {
    width: 20vw;
    color: #ff808b;
    background-color: #e7d721;
}

footer {
    height: 75vh;
    width: 100vw;
    background-color: #222;
    overflow: hidden
}

.footer_container {
    height: 75vh;
    color: #f0f0f0;
    background-color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.footer_icon img {
    padding: 2px;
    height: 4vw;
    width: 4vw;
    cursor: url(https://baptiste-bussiere.b-cdn.net/public/cursor/cursor-pointer.png) 0 0, pointer
}
@media (min-width:750px) {
    .contact-wrap {
        width: 60%;
        margin: auto
    }
}

@media screen and (max-width:750px) {
    .work_content {
        flex-direction: column
    }
    .work_box {
        height: 20vh;
        width: 60VW
    }
    .work_box:hover {
        height: 20vh;
        width: 60VW
    }
    .work h1 {
        display: none
    }
}
